USE [master]
GO
/****** Object:  Database [Demo0202]    Script Date: 01.12.2025 20:45:09 ******/
CREATE DATABASE [Demo0202]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Demo0202', FILENAME = N'F:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Demo0202.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Demo0202_log', FILENAME = N'F:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Demo0202_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo0202].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo0202]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 01.12.2025 20:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](255) NULL,
	[Тип материала] [int] NULL,
 CONSTRAINT [PK_Materials$] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialsInProducts]    Script Date: 01.12.2025 20:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialsInProducts](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Материал] [int] NULL,
	[Количество] [int] NULL,
	[Продукция] [int] NULL,
 CONSTRAINT [PK_MaterialsInProducts] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialsType]    Script Date: 01.12.2025 20:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialsType](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип материала] [nvarchar](50) NULL,
	[Процент брака материала ] [float] NULL,
 CONSTRAINT [PK_MaterialsType] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 01.12.2025 20:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Дата] [datetime] NULL,
	[Партнер] [int] NULL,
	[Стоимость] [float] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 01.12.2025 20:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип партнера] [int] NULL,
	[Наименование партнера] [nvarchar](50) NULL,
	[Фамилия директора] [nvarchar](50) NULL,
	[Имя директора] [nvarchar](50) NULL,
	[НомерТелефона] [nvarchar](18) NULL,
	[Отчество директора] [nvarchar](50) NULL,
	[Юридический адрес партнера] [nvarchar](300) NULL,
	[ИНН] [varchar](10) NULL,
	[Рейтинг] [int] NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnesType]    Script Date: 01.12.2025 20:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnesType](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип партнера] [nvarchar](50) NULL,
 CONSTRAINT [PK_PartnesType] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 01.12.2025 20:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип продукции] [int] NULL,
	[Наименование продукции] [nvarchar](255) NULL,
	[Артикул] [varchar](7) NULL,
	[Минимальная стоимость для партнера] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsInOrders]    Script Date: 01.12.2025 20:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsInOrders](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Продукция] [int] NULL,
	[МинимальнаяСтоимость] [float] NULL,
	[Количество] [int] NULL,
	[Заказ] [int] NULL,
 CONSTRAINT [PK_ProductsInOrders] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsType]    Script Date: 01.12.2025 20:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsType](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип продукции] [nvarchar](50) NULL,
	[Коэффициент типа продукции] [float] NULL,
 CONSTRAINT [PK_ProductsType] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_MaterialsType] FOREIGN KEY([Тип материала])
REFERENCES [dbo].[MaterialsType] ([Код])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_MaterialsType]
GO
ALTER TABLE [dbo].[MaterialsInProducts]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsInProducts_Materials] FOREIGN KEY([Материал])
REFERENCES [dbo].[Materials] ([Код])
GO
ALTER TABLE [dbo].[MaterialsInProducts] CHECK CONSTRAINT [FK_MaterialsInProducts_Materials]
GO
ALTER TABLE [dbo].[MaterialsInProducts]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsInProducts_Products] FOREIGN KEY([Продукция])
REFERENCES [dbo].[Products] ([Код])
GO
ALTER TABLE [dbo].[MaterialsInProducts] CHECK CONSTRAINT [FK_MaterialsInProducts_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Partners] FOREIGN KEY([Партнер])
REFERENCES [dbo].[Partners] ([Код])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Partners]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_PartnesType] FOREIGN KEY([Тип партнера])
REFERENCES [dbo].[PartnesType] ([Код])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_PartnesType]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductsType] FOREIGN KEY([Тип продукции])
REFERENCES [dbo].[ProductsType] ([Код])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductsType]
GO
ALTER TABLE [dbo].[ProductsInOrders]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInOrders_Orders] FOREIGN KEY([Заказ])
REFERENCES [dbo].[Orders] ([Код])
GO
ALTER TABLE [dbo].[ProductsInOrders] CHECK CONSTRAINT [FK_ProductsInOrders_Orders]
GO
ALTER TABLE [dbo].[ProductsInOrders]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInOrders_Products] FOREIGN KEY([Продукция])
REFERENCES [dbo].[Products] ([Код])
GO
ALTER TABLE [dbo].[ProductsInOrders] CHECK CONSTRAINT [FK_ProductsInOrders_Products]
GO
USE [master]
GO
